.Rproj.user
.Rhistory
.RData
.idea

tmp/**

lsiexample.zip
*.ser

examples/target
examples/target/**
app/target
app/target/**

.DS_Store
.DS_Store/**
**/.DS_Store
**/.DS_Store/**

**/*.log

**/target
**/out

*.zip
**/*.zip